/* .spot-images > div {
  border: 2px solid black;
} */

.spot-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spot-images > div:first-child {
  grid-area: photoOne;
  height: 450px;
}

.spot-images > div:nth-child(2),
.spot-images > div:nth-child(3),
.spot-images > div:nth-child(4),
.spot-images > div:nth-child(5) {
  height: calc(227px - 0.25em);
}
