.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.signup-container h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.signup-form-group input[type="text"],
.signup-form-group input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.signup-error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.signup-button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #0066ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0062b3;
}