.spot-create-container {
  display: flex;
  justify-content: center;
}

.spot-create-form-container {
  width: 400px;
}

.form-heading {
  font-size: 24px;
  font-weight: bold;
}

.subheading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0px;
}

.spot-create-section {
  margin-top: 10px;
  border-bottom: 2px solid black;
}

.spot-create-section label {
  font-size: 14px;
}

.spot-create-section input {
  width: 100%;
  padding: 2px 3px;
  margin-top: 2px;
  margin-bottom: 10px;
  background-color: #E8F0FE;
  box-sizing: border-box;
  font-size: 12px;
}

.spot-create-section textarea {
  background-color: #E8F0FE;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
}

.input-price-container {
  display: flex;
  align-items: baseline;
  font-weight: bold;
}

.input-price-container input {
  margin-left: 5px;
}

.error-message {
  color: red;
  margin-left: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.error-message-latlng {
  color: red;
  margin-left: 5px;
  font-size: 14px;
  display: inline;
}

.error-description, .error-name, .error-price, .error-image {
  margin-left: 0px;
}

.button-container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.spot-create-button {
  background-color: #FF5A5F;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}

.spot-create-button:hover {
  background-color: #ff5a60e8;
}

.spot-form-lat-lng-container,
.spot-form-city-state-container {
  display: flex;
  justify-content: space-between;
}

.spot-form-comma {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 5px 0px 2px;
}

#city {
  width: 240px;
}