.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 20px;
  width: 350px;
}

.login-container > h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px 15px 0px;
}

.login-form-container {
  width: 100%;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.login-form-group input[type="text"],
.login-form-group input[type="password"] {
  padding: 8px;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #E8F0FE;
}

.login-error-message {
  color: red;
  font-size: 14px;
  margin-top: 0px;
}

.login-button {
  padding: 10px;
  font-size: 12px;
  background-color: #FF5A5F;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.disabled {
  background-color: #FFFFFF;
  color: #CCCCCC;
  border: 2px solid #CCCCCC;
  pointer-events: none;
}

.login-demo-user-button {
  margin: 15px 0px 5px 0px;
  font-size: 18px;
  color: #00525E;
  text-decoration: underline;
  cursor: pointer;
}