.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 20px;
  border-bottom: 2px solid #cccccc;
}

.logo {
  margin-right: auto;
}

.new-spot-link {
  margin: 0px 15px 0px auto;
}

.new-spot-link button {
  border: none;
  background-color: white;
  color: #00525E;
  padding: 0px;
  cursor: pointer;
  font-size: 14px;
}

/* Profile Button */

.profile-button {
  position: relative;
  z-index: 1;
}

.profile-button > button {
  align-items: center;
  background: none;
  border: 1px solid #000000;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 30px;
  padding: 5px 10px;
}

.fa-bars {
  padding-right: 8px;
}

/* Profile Dropdown */

.profile-dropdown {
  position: absolute;
  top: 60%;
  right: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  white-space: nowrap;
  list-style: none;
  padding: 0px;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown-menu {
  margin: 5px 0px;
}

.profile-dropdown-menu > li {
  padding: 2px 15px;
}

.profile-dropdown-button-container {
  display: flex;
  justify-content: center;
}
.logout-button {
  border-radius: 15px;
  background-color: #999999;
  color: white;
  cursor: pointer;
  padding: 6px;
}

.profile-dropdown-divider {
  margin: 4px 0px;
  border-bottom: 2px solid #000000;
}

/* Modal */

.profile-dropdown-menu > li > button, .about-dev-link {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  margin-right: 20px;
}

.about-dev-link {
  margin-left: 6px;
}