.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 20px;
  border-bottom: 2px solid #cccccc;
}

.logo {
  margin-right: auto;
}

.new-spot-link {
  color: #00525E;
  margin: 0px 15px 0px auto;
  text-decoration: none;
}

.profile-button {
  position: relative;
  z-index: 1000;
}

.profile-button button {
  align-items: center;
  background: none;
  border: 1px solid #000000;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 30px;
  padding: 5px 10px;
}

.fa-bars {
  padding-right: 8px;
}

.profile-dropdown {
  position: absolute;
  top: 60%;
  right: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  padding: 5px;
  list-style: none;
  white-space: nowrap;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li , .profile-dropdown p{
  margin: 4px 50px 4px 10px;
}

.profile-dropdown li {
  cursor: pointer;
}

.profile-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
}
