.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 20px;
  border-radius: 30px;
}

.login-container h1 {
  font-size: 26px;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.login-form-group input[type="text"],
.login-form-group input[type="password"] {
  padding: 8px;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 4px;
}

.login-error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.login-button {
  padding: 10px;
  font-size: 12px;
  background-color: #0066ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
}

.login-button:hover {
  background-color: #0062b3;
}
